<div class="gt-page mx-auto flex max-w-7xl flex-col items-center">
  @if(currentlyPlaying$ | async; as currentlyPlaying){ @if (currentlyPlaying.length > 0){
  <p-chip
    label="Currently Playing"
    class="text-m p-2 !gap-1 !rounded-full !bg-[#09992d] !px-3 !py-1 font-bold !text-black"
  ></p-chip>

  <div class="gt-section-scroll mt-6">
    <div class="flex gap-4">
      @for (game of currentlyPlaying; track game.id) {
      <p-card class="gt-card w-[min(18rem,80vw)] flex-none">
        <ng-template #header>
          <img
            [routerLink]="['/gameDetails', game.id]"
            [alt]="game.name"
            class="h-44 w-full cursor-pointer object-cover sm:h-48"
            [src]="game.background_image"
          />
        </ng-template>
        <ng-template #title>
          <span class="line-clamp-1">{{ game.name }}</span>

          <div class="flex flex-wrap gap-2 pt-2 pl-1">
            @for (platform of game.parent_platforms; track platform.platform.id){
            <i
              class="{{platform.platform.name | platformIcon}}"
              [pTooltip]="platform.platform.name"
              tooltipPosition="bottom"
            ></i>
            }
          </div>
        </ng-template>
        <ng-template #subtitle>
          <div class="flex justify-end gap-1">
            <button
              pButton
              class="gt-icon-button border-black bg-white text-black hover:bg-red-500"
              pTooltip="Remove from Play Next"
              tooltipPosition="bottom"
              (click)="removeFromPlaying(game)"
            >
              <i class="fas fa-times"></i>
            </button>
            <button
              pButton
              class="gt-icon-button border-black bg-white text-black hover:bg-green-500"
              pTooltip="Mark as Played"
              tooltipPosition="bottom"
              (click)="finish(game)"
            >
              <i class="fas fa-check"></i>
            </button>
          </div>
        </ng-template>
      </p-card>
      }
    </div>
  </div>
  } @else{
  <div
    class="mt-4 flex w-full flex-col items-center justify-center rounded-2xl border-2 border-dashed border-[darkgoldenrod] bg-[#0E1330] p-6 text-center sm:p-10"
  >
    <i class="fa-solid fa-bolt mb-4 text-4xl text-yellow-500"></i>

    <h2 class="mb-6 text-xl font-black text-white sm:text-2xl">Looks like you are not playing anything!</h2>

    <button
      pButton
      routerLink="/library"
      class="flex items-center justify-center gap-2 rounded-full border-2 border-solid border-black bg-white px-5 py-3 font-bold text-black shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] transition-all hover:border-green-600 hover:bg-green-500 hover:text-white active:translate-x-[2px] active:translate-y-[2px] active:shadow-none sm:px-8"
    >
      <i class="pi pi-plus text-sm"></i>
      <span>Add a game to the playing list</span>
    </button>
  </div>
  } }

  <div class="mt-10">
    <p-chip
      label="Play Next"
      class="text-m p-2 !gap-1 !rounded-full !bg-[#D48806] !px-3 !py-1 font-bold !text-black"
    ></p-chip>
  </div>

  <div class="gt-section-scroll mt-6">
    <div class="flex gap-4">
      @for (playnextGame of playNextGames$ | async; track $index) {
      <p-card class="gt-card w-[min(18rem,80vw)] flex-none">
        <ng-template #header>
          <img
            [routerLink]="['/gameDetails', playnextGame.id]"
            [alt]="playnextGame.name"
            class="h-44 w-full cursor-pointer object-cover sm:h-48"
            [src]="playnextGame.background_image"
          />
        </ng-template>
        <ng-template #title>
          <span class="line-clamp-1">{{ playnextGame.name }}</span>

          <div class="flex flex-wrap gap-2 pt-2 pl-1">
            @for (platform of playnextGame.parent_platforms; track platform.platform.id){
            <i
              class="{{platform.platform.name | platformIcon}}"
              [pTooltip]="platform.platform.name"
              tooltipPosition="bottom"
            ></i>
            }
          </div>
        </ng-template>
        <ng-template #subtitle>
          <div class="flex justify-end gap-1">
            <button
              pButton
              class="gt-icon-button border-black bg-white text-black hover:bg-red-500"
              pTooltip="Remove from Play Next"
              tooltipPosition="bottom"
              (click)="removeFromPlayNext(playnextGame)"
            >
              <i class="fas fa-times"></i>
            </button>
            <button
              pButton
              class="gt-icon-button border-black bg-white text-black hover:bg-[#D48806]"
              pTooltip="Add to currently playing"
              tooltipPosition="bottom"
              (click)="addToPlaying(playnextGame)"
            >
              <i class="fa-solid fa-play"></i>
            </button>
          </div>
        </ng-template>
      </p-card>
      }
    </div>
  </div>
</div>

@if(displayCompletedDialog){
<app-complete-dialog
  [title]="'Game Completion Details'"
  [selectedGame]="selectedGame"
  (closeDialog)="displayCompletedDialog = $event"
  (updateCurrentlyPlaying)="removeFromPlaying($event)"
></app-complete-dialog>
}

<p-toast />
