<footer class="bg-[#0e1330] text-white px-4 py-2 flex items-center">
  <div class="responsiveHeight flex justify-between flex-wrap items-center h-[70px] w-full">
    <div class="text-center">
      <p>A personal project built to explore the world of gaming and modern web development.</p>
    </div>

    <div>
      <p class="text-center">
        Created by Giannis Tsipos. Powered by Angular · TailwindCSS · RAWG API. © 2025 All rights reserved.
      </p>
    </div>
  </div>
</footer>

<!-- Created by Giannis Tsipos. Powered by Angular · TailwindCSS · RAWG API. © 2025 All rights reserved. -->
