:host {
  .container-form {
    min-height: calc(100vh - 150px);
    background-image:
      linear-gradient(rgba(10, 15, 40, 0.7), rgba(10, 15, 40, 0.7)), url('../../../assets/images/background_image.png');

    // Option 2: Using a solid color if image isn't ready
    background-color: #0e1330;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }

  .p-inputtext {
    border-radius: 20px;
  }
}
