:host {
  .container-form {
    min-height: calc(100vh - 150px);
    background-image:
      linear-gradient(rgba(10, 15, 40, 0.7), rgba(10, 15, 40, 0.7)), url('../../../assets/images/background_image.png');

    // Option 2: Using a solid color if image isn't ready
    background-color: #0e1330;

    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: white; // Makes all default text readable against the dark bg
  }

  .p-inputtext {
    border-radius: 20px;
  }

  @media (max-width: 670px) {
    .container-form {
      min-height: calc(100vh - 200px);
    }
  }
}
