<p-dialog
  [visible]="true"
  [modal]="true"
  [draggable]="true"
  [closable]="false"
  [showHeader]="false"
  [style]="{ width: 'min(30rem, calc(100vw - 2rem))' }"
>
  <app-dialog-header [title]="title" (close)="onClose()"></app-dialog-header>
  <ng-template #content>
    <form
      [formGroup]="gameForm"
      (ngSubmit)="onSubmit()"
      #myForm="ngForm"
      id="gameForm"
      class="w-full flex flex-col gap-4 p-4"
    >
      <div class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
        <label for="platform" class="font-bold whitespace-nowrap">Platform* </label>
        <p-select
          [options]="platforms"
          formControlName="platform"
          inputId="platform"
          placeholder="Select Platforms"
          optionLabel="label"
          optionValue="value"
          display="chip"
          appendTo="body"
          showClear="true"
          [styleClass]="(gameForm.get('platform')?.invalid && gameForm.get('platform')?.touched) 
                ? 'w-full sm:w-56 !rounded-3xl !border-red-500' 
                : 'w-full sm:w-56 !rounded-3xl'"
        >
          <ng-template let-platform pTemplate="item">
            <div class="flex items-center gap-2">
              <i class="{{platform.icon}}" style="width: 20px"></i>
              <div>{{ platform.label }}</div>
            </div>
          </ng-template>
        </p-select>
      </div>

      <div class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
        <label for="completionDate" class="font-bold whitespace-nowrap">Completion Date* </label>
        <p-datepicker
          formControlName="completionDate"
          inputId="completionDate"
          appendTo="body"
          [style]="{'width':'100%'}"
          [inputStyle]="{'width':'100%'}"
          [styleClass]="(gameForm.get('completionDate')?.invalid && gameForm.get('completionDate')?.touched) 
                ? 'w-full sm:w-56 !rounded-3xl !border-red-500' 
                : 'w-full sm:w-56 !rounded-3xl'"
        >
        </p-datepicker>
      </div>

      <div class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
        <label for="hoursPlayed" class="font-bold whitespace-nowrap">Hours Played </label>
        <p-inputnumber
          formControlName="hoursPlayed"
          inputId="hoursPlayed"
          mode="decimal"
          [useGrouping]="false"
          [min]="0"
          [allowEmpty]="true"
          styleClass="w-full sm:w-56"
          inputStyleClass="w-full"
        >
        </p-inputnumber>
      </div>
    </form>
  </ng-template>
  <ng-template #footer>
    <button pButton type="submit" label="Submit" form="gameForm" [disabled]="gameForm.invalid"></button>
  </ng-template>
</p-dialog>
